/* 
* @Author: Marte
* @Date:   2016-12-01 11:08:33
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-01 11:09:21
*/

/*********banner********/

.focus{ width:100%; 
    /*height:4.5rem; */
     margin:0 auto; position:relative; overflow:hidden;   }
    .focus .hd{ width:100%; height:0.22rem;  position:absolute; z-index:1; bottom:0.38rem; text-align:center;  }
    .focus .hd ul{ display:inline-block; height:0.22rem; padding:0.06rem 0.1rem; 
        -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
    }
    .focus .hd ul li{ display:inline-block; width:10px; height:10px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; background:#8C8C8C; margin:0 2px;  vertical-align:top; overflow:hidden;   }
    .focus .hd ul .on{ background:#FFFFFF;  }

    .focus .bd{ position:relative; z-index:0; width: 100%; }

    .focus .bd li img{ width:100%; 
     /*height:4.5rem;  */
 }
    .focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }




    /*        button-lists        */
    .section-btn-list{
        width: 100%;height: 4.6rem;
        background:white;
    }
    .section-btn-list>a{
        width: 100%; height: 100%;
        text-align: center;
        box-sizing: border-box;
        padding-top: 3.3rem;
        color:#333333;
    }
    .section-btn-list>a:nth-of-type(1){
    background:url("../images/首页/u25.png") no-repeat;
    background-position: 50% 25%;
    /*background-size: 70%;*/
    }

    .section-btn-list>a:nth-of-type(2){
    background:url("../images/首页/u105.png") no-repeat;
    background-position: 50% 25%;
    /*background-size: 70%;*/
    }
    .section-btn-list>a:nth-of-type(3){
    background:url("../images/首页/u107.png") no-repeat;
    background-position: 50% 25%;
    /*background-size: 70%;*/
    }
    .section-btn-list>a:nth-of-type(4){
    background:url("../images/首页/u332.png") no-repeat;
    background-position: 50% 25%;
    /*background-size: 70%;*/
    }


    /*   wo-fl-hot section   */
    .wo-fl{
        margin-top: 0.6rem;
        background-color: #FFFFFF;
    }
    .wo-fl>h3{
        font-size: 0.7rem;font-weight: normal;
        line-height: 1rem;
        padding-top: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.6rem;
    }
    .wo-fl>h3 .fl-more-btn{
        float: right;
        font-size:0.5rem;
        font-weight: normal;
    }

    .wo-fl-body>div>a span{
        margin-left: auto;margin-right: auto;
        width:3rem;height: 3rem;display:block;
    }
    .wo-fl-body>div>a span img{
        height: 100%;
    }
    .wo-fl-body>div>a>i{
        color:#333333;font-size: 0.45rem;
        margin-top: 0.1rem;
        display:block; line-height: 1.6;
        text-align: center;
    }
    .wo-fl-body>div>a b{
        font-size: 0.4rem;font-weight: normal;
        display:block; line-height: 1.8;
        text-align: center;
    }
    .wo-fl-body>div>.dl-game-btn{
        display:block;
        margin:0.4rem auto 1rem auto;
        font-size: 0.5rem; text-align: center;
        width: 3rem;height: 1.1rem; line-height: 1.1rem;
        background-color: #FA8909;
        border-radius: 0.2rem;
        color:white;
    }


    /*   wo-fl-act-container div   */
    .wo-fl-act-container>a{
        width: 100%;display:block;
        margin-bottom: 0.3rem;
    }
    .wo-fl-act-container>a>img{
        width: 100%;
    }

    .wo-fl-ad>.wo-fl-ad-container{

    }
    /*   wo-fl-ad div   */
    .wo-fl-ad>.wo-fl-ad-container>a{
        display:block;
        width: 100%;
    }
    .wo-fl-ad>.wo-fl-ad-container>a>img{
        width: 100%;
    }